@use '@wexample/symfony-design-system/css/shapes/media';
@use '@wexample/symfony-design-system/css/shapes/block';
@use '@wexample/symfony-design-system/css/partials/palette' as palette;

.media-demo--bg-primary {
  background: palette.$colorPrimary;
}

.media-demo--bg-secondary {
  background: palette.$colorSecondary;
}

.media-demo--bg-accent {
  background: palette.$colorAccent;
}
