@use '@wexample/symfony-design-system/components/bar/bar';
@use '@wexample/symfony-design-system/components/toolbar/toolbar';
@use '@wexample/symfony-design-system/components/button/button';

.demo-bar-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
