@use './layout/layout-feedback';
@use '@wexample/symfony-design-system/components/cluster/cluster';
@use '@wexample/symfony-design-system/components/button/button';
@use '@wexample/symfony-design-system/components/toolbar/toolbar';
@use '@wexample/symfony-design-system/components/progress/progress';

.demo-progress {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
