@use './layout/layout-data';
@use '@wexample/symfony-design-system/components/data-table/data-table';
@use '@wexample/symfony-design-system/components/pagination/pagination';
@use '@wexample/symfony-design-system/css/shapes/toolbar';
@use '@wexample/symfony-design-system/components/button/button';

.demo-live {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
