@use '@wexample/symfony-design-system/css/shapes/bar';
@use '@wexample/symfony-design-system/css/shapes/toolbar';
@use '@wexample/symfony-design-system/css/shapes/button';

.demo-bar-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
